In [1]:
import numpy as np
#import scipy.stats as stats

from scipy import stats

import pandas as pd
from math import sqrt
import os

In [2]:
path = str(os.path.abspath(os.getcwd()))+'\data'
bp_data = pd.read_csv( os.path.join(path, 'bp.csv'))
paired_data = pd.read_csv( os.path.join(path, 'paired.csv'))

In [3]:
bp_data.shape

(200, 2)

In [4]:
paired_data.shape

(13, 3)

In [5]:
bp_data.head(5)

   bp type
0  68   No
1  70  Yes
2  82   No
3  76   No
4  60   No

In [6]:
paired_data.head(5)

          Clone  August  November
0  Balsam_Spire     8.1      11.2
1       Beaupre    10.0      16.3
2     Hazendans    16.5      15.3
3     Hoogvorst    13.6      15.6
4      Raspalje     9.5      10.5

In [7]:
#data on blood pressure (bp)
#and whether or not the person is diabetic (type) (diabetic is type = Yes).
bp_data.describe()
bp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bp      200 non-null    int64
 1   type    200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [8]:
# Clustering in two Clases
df_diabetes =bp_data[bp_data['type'] == 'Yes']['bp']
df_nodiabetes = bp_data[bp_data['type'] == 'No']['bp']

# 1. Reporte o p-valor da comparação entre a pressão sangüínea de pessoas diabéticas ou não.

In [9]:
#List to store diferrents test
p_value=[]
# itens Teste t
#https://www.pythonfordatascience.org/independent-samples-t-test-python/
#Compute  Teste t
p_value.append(stats.ttest_ind(df_diabetes,df_nodiabetes))

In [10]:
# itens Wilcoxon rank sum
#stats.ranksums(x, y, alternative='two-sided', *, axis=0, nan_policy='propagate', keepdims=False)
#Compute Wilcoxon rank sum
p_value.append(stats.ranksums(df_diabetes,df_nodiabetes))

In [11]:
#1. Reporte o p-valor da comparação entre a pressão sangüínea de pessoas diabéticas ou não.
print ('.......')
print (p_value[0])
print (p_value[1])

.......
Ttest_indResult(statistic=3.001495202122035, pvalue=0.0030323591864622732)
RanksumsResult(statistic=3.045797809294312, pvalue=0.0023206383267846886)

# 2. Qual tem a maior pressão média? E maior pressão mediana?

In [12]:

#2. Qual tem a maior pressão média? E maior pressão mediana?

media_diabetes = np.mean(df_diabetes,0)
media_nodiabetes = np.mean(df_nodiabetes,0)
print("Mean people with diabetes: ", media_diabetes)
print("Mean people without diabetes: ", media_nodiabetes)
if (media_diabetes>media_nodiabetes):
    print("people with diabetes have the highest mean pressure with:", media_diabetes)
else:    
    print("people without diabetes have the highest mean blood pressure:", media_nodiabetes)

Mean people with diabetes:  74.58823529411765
Mean people without diabetes:  69.54545454545455
people with diabetes have the highest mean pressure with: 74.58823529411765

In [13]:

mediana_diabetes = np.median(df_diabetes,0)
mediana_nodiabetes = np.median(df_nodiabetes,0)
print("median number of people with diabetes: ", mediana_diabetes)
print("median number of people without diabetes: ", mediana_nodiabetes)
if (mediana_diabetes>mediana_nodiabetes):
    print("people with diabetes have the highest median blood pressure:", mediana_diabetes)
else:    
    print("people without diabetes have the highest median blood pressure:", mediana_nodiabetes)

median number of people with diabetes:  76.0
median number of people without diabetes:  70.0
people with diabetes have the highest median blood pressure: 76.0

# 3. A diferença é significativa?

* In both cases, the p-value was determined to be less than 0.05. For that the difference is significant
# Discuta a diferença dos p-valores. Quais dos 2 testes você acha mais apropriado nesse caso?
Both p values were very similar with a difference of 0.001
For the size of the sample, Student's t test is more reliable than the Wilcoxon rank sum for the case. The sample has an adequate size for the application of Student's t.

In [14]:
#3. A diferença é significativa?
paired_data.head(5)

          Clone  August  November
0  Balsam_Spire     8.1      11.2
1       Beaupre    10.0      16.3
2     Hazendans    16.5      15.3
3     Hoogvorst    13.6      15.6
4      Raspalje     9.5      10.5

# O arquivo paired.csv contém dados sobre duas medições: em Agosto e em Novembro em 13 lugares diferentes.

Use os seguintes testes e responda os itens abaixo:
* Test t pareado

* Wilcoxon signed rank.1 - Qual o mês com maior média e maior mediana?

In [15]:
# itens 
#https://statologos.com/prueba-t-de-muestras-emparejadas-python/
df_agosto = paired_data['August']
df_noviembre = paired_data['November']
p_value=[]
p_value.append(stats.ttest_rel(df_agosto,df_noviembre))
p_value.append(stats.wilcoxon(df_agosto,df_noviembre))
p_value

[Ttest_relResult(statistic=-2.3088956550760438, pvalue=0.03955525086687241),
 WilcoxonResult(statistic=16.0, pvalue=0.039794921875)]

# 1. Qual o mês com maior média e maior mediana?

In [16]:
media_agosto = np.mean(df_agosto,0)
media_noviembre = np.mean(df_noviembre,0)
print("media del mes de agosto: ", media_agosto)
print("media del mes de noviembre: ", media_noviembre)

mediana_agosto = np.median(df_agosto,0)
mediana_noviembre = np.median(df_noviembre,0)
print("mediana del mes de agosto: ", mediana_agosto)
print("mediana del mes de noviembre: ", mediana_noviembre)

media del mes de agosto:  11.423076923076925
media del mes de noviembre:  16.323076923076922
mediana del mes de agosto:  10.0
mediana del mes de noviembre:  15.3

* The month with the highest mean and median is November.

# 2. A diferença é significativa?

In [17]:
# 2. A diferença é significativa?
p_value
print ('.......')
print (p_value[0])
print (p_value[1])

.......
Ttest_relResult(statistic=-2.3088956550760438, pvalue=0.03955525086687241)
WilcoxonResult(statistic=16.0, pvalue=0.039794921875)

* Yes, because both tests reported a p value less than 0.05.

# 3 - Discuta a diferença dos p-valores. Quais dos 2 testes você acha mais apropriado nesse caso?

* As the sample is small, non-parametric tests are more suitable. Thus, Wilcoxon is more reliable than Student's t.

# Use os dados (não pareados) do dataset bp.csv

* Gere o intervalo de confiança para a pressão sangüínea dos pacientes com diabetes e sem diabetes (intervalo de 95% de confiança) usando o método de bootstrap

In [18]:
bp_diabeticos = (df_diabetes,)
bootstrap_ci = stats.bootstrap(bp_diabeticos, np.mean, confidence_level=0.95, random_state=1, method='BCa')
print(f"Confidence interval for blood pressure in diabetics: {bootstrap_ci.confidence_interval}.")
bp_naoDiabeticos = (df_nodiabetes,)
bootstrap_ci = stats.bootstrap(bp_naoDiabeticos, np.mean, confidence_level=0.95, random_state=1, method='BCa')
print(f"Confidence interval for blood pressure in non-diabetics: {bootstrap_ci.confidence_interval}.")

Confidence interval for blood pressure in diabetics: ConfidenceInterval(low=71.77941176470588, high=77.29411764705883).
Confidence interval for blood pressure in non-diabetics: ConfidenceInterval(low=67.6590909090909, high=71.47727272727273).

# Teste Visual:  
* Há intersecção entre os intervalos de confiança dos 2 conjuntos de dados acima (com diabetes e sem diabetes)? Isso está de acordo com o teste de diferença significativa entre eles feito na questão 1?

* The upper limit of the range for people who do not have diabetes is 71.47, while the lower limit of the range for those who do have diabetes is 71.77. As a result, the conclusion that can be drawn is that the intervals do not intersect with one another. Since the confidence intervals do not overlap, this assertion is supported by the data.

# Calcule o Cohen D com o pooled standard deviation para a diferença entre a pressão sangüínea de pacientes com e sem diabetes.

In [19]:
def cohend_function(d1, d2):
    # compute the size of samples
    n1, n2 = len(d1), len(d2)
    # compute the variance of the samples
    s1, s2 = np.var(d1, ddof=1), np.var(d2, ddof=1)
    # calculate the pooled standard deviation
    s = sqrt(((n1 - 1) * s1 + (n2 - 1) * s2) / (n1 + n2 - 2))
    # calculate the means of the samples
    u1, u2 = np.mean(d1), np.mean(d2)
    # calculate the effect size
    return (u1 - u2) / s

In [20]:
d = cohend_function(df_diabetes, df_nodiabetes)
print(f"Cohens'd: {d:.3f}")

Cohens'd: 0.448

# Com base nos testes, intervalos de confiança, etc realizados acima sobre o dataset bp.csv, qual a sua conclusão sobre pressão arterial em pacientes com ou sem diabetes?

* It has been shown that diabetics have a mean blood pressure that is significantly higher than that of non-diabetic individuals, and the confidence intervals for these two groups do not cross. Another finding is that diabetes causes an increase in blood pressure.