In [28]:
import numpy as np
#import scipy.stats as stats

from scipy import stats

import pandas as pd
from math import sqrt
import os

In [3]:
path = str(os.path.abspath(os.getcwd()))+'\data'
bp_data = pd.read_csv( os.path.join(path, 'bp.csv'))
paired_data = pd.read_csv( os.path.join(path, 'paired.csv'))

In [4]:
bp_data.shape

(200, 2)

In [5]:
paired_data.shape

(13, 3)

In [6]:
bp_data.head(5)

   bp type
0  68   No
1  70  Yes
2  82   No
3  76   No
4  60   No

In [7]:
paired_data.head(5)

          Clone  August  November
0  Balsam_Spire     8.1      11.2
1       Beaupre    10.0      16.3
2     Hazendans    16.5      15.3
3     Hoogvorst    13.6      15.6
4      Raspalje     9.5      10.5

In [23]:
#dados sobre a pressão sanguínea (bp)
#e se a pessoa é ou não diabética (type) (diabetico é type = Yes).
bp_data.describe()
bp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   bp      200 non-null    int64
 1   type    200 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.2+ KB

In [24]:
df_diabetes =bp_data[bp_data['type'] == 'Yes']['bp']
df_nodiabetes = bp_data[bp_data['type'] == 'No']['bp']

In [25]:
p_value=[]
# itens Teste t
#https://www.pythonfordatascience.org/independent-samples-t-test-python/
p_value.append(stats.ttest_ind(df_diabetes,df_nodiabetes))

In [26]:
# itens Wilcoxon rank sum
#stats.ranksums(x, y, alternative='two-sided', *, axis=0, nan_policy='propagate', keepdims=False)
p_value.append(stats.ranksums(df_diabetes,df_nodiabetes))

In [27]:
#1. Reporte o p-valor da comparação entre a pressão sangüínea de pessoas diabéticas ou não.
print (p_value)

[Ttest_indResult(statistic=3.001495202122035, pvalue=0.0030323591864622732), RanksumsResult(statistic=3.045797809294312, pvalue=0.0023206383267846886)]

In [38]:

#2. Qual tem a maior pressão média? E maior pressão mediana?

media_diabetes = np.mean(df_diabetes,0)
media_nodiabetes = np.mean(df_nodiabetes,0)
print("media de personas con diabetes: ", media_diabetes)
print("media de personas sin diabetes: ", media_nodiabetes)
if (media_diabetes>media_nodiabetes):
    print("las personas con diabetes tem a maior pressão média con:", media_diabetes)
else:    
    print("las personas sin diabetes tem a maior pressão média con:", media_nodiabetes)

media de personas con diabetes:  74.58823529411765
media de personas sin diabetes:  69.54545454545455
las personas con diabetes tem a maior pressão média con: 74.58823529411765

In [41]:

mediana_diabetes = np.median(df_diabetes,0)
mediana_nodiabetes = np.median(df_nodiabetes,0)
print("mediana de personas con diabetes: ", mediana_diabetes)
print("mediana de personas sin diabetes: ", mediana_nodiabetes)
if (mediana_diabetes>mediana_nodiabetes):
    print("las personas con diabetes tem a maior pressão mediana con:", mediana_diabetes)
else:    
    print("las personas sin diabetes tem a maior pressão mediana con:", mediana_nodiabetes)

mediana de personas con diabetes:  76.0
mediana de personas sin diabetes:  70.0
las personas con diabetes tem a maior pressão mediana con: 76.0

In [8]:
#3. A diferença é significativa?
paired_data.head(5)

          Clone  August  November
0  Balsam_Spire     8.1      11.2
1       Beaupre    10.0      16.3
2     Hazendans    16.5      15.3
3     Hoogvorst    13.6      15.6
4      Raspalje     9.5      10.5

In [32]:
# itens 
#https://statologos.com/prueba-t-de-muestras-emparejadas-python/
df_agosto = paired_data['August']
df_noviembre = paired_data['November']
p_value=[]
p_value.append(stats.ttest_rel(df_agosto,df_noviembre))
p_value.append(stats.wilcoxon(df_agosto,df_noviembre))
p_value

[Ttest_relResult(statistic=-2.3088956550760438, pvalue=0.03955525086687241),
 WilcoxonResult(statistic=16.0, pvalue=0.039794921875)]

In [14]:
# 1. Qual o mês com maior média e maior mediana?
media_agosto = np.mean(df_agosto,0)
media_noviembre = np.mean(df_noviembre,0)
print("media del mes de agosto: ", media_agosto)
print("media del mes de noviembre: ", media_noviembre)

mediana_agosto = np.median(df_agosto,0)
mediana_noviembre = np.median(df_noviembre,0)
print("mediana del mes de agosto: ", mediana_agosto)
print("mediana del mes de noviembre: ", mediana_noviembre)

media del mes de agosto:  11.423076923076925
media del mes de noviembre:  16.323076923076922
mediana del mes de agosto:  10.0
mediana del mes de noviembre:  15.3

In [17]:
# 2. A diferença é significativa?
p_value

[Ttest_indResult(statistic=-2.293400543711695, pvalue=0.03088448455801124),
 WilcoxonResult(statistic=16.0, pvalue=0.039794921875)]