In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
from math import sqrt
import os

In [2]:
path = str(os.path.abspath(os.getcwd()))+'\data'
bp_data = pd.read_csv( os.path.join(path, 'bp.csv'))
paired_data = pd.read_csv( os.path.join(path, 'paired.csv'))

In [3]:
bp_data.shape

(200, 2)

In [4]:
paired_data.shape

(13, 3)

In [5]:
bp_data.head(5)

   bp type
0  68   No
1  70  Yes
2  82   No
3  76   No
4  60   No

In [6]:
paired_data.head(5)

          Clone  August  November
0  Balsam_Spire     8.1      11.2
1       Beaupre    10.0      16.3
2     Hazendans    16.5      15.3
3     Hoogvorst    13.6      15.6
4      Raspalje     9.5      10.5